<span class="d-block text-left mt-2"><h3>List of {{ cuisine.type | titlecase}} Cuisine Recipes</h3></span>
<span class="d-block text-left my-3"><a routerLink="/cuisine" class="btn btn-lightpink" >See Cuisine List</a></span>    
<div class="row mb-3">
    <div class="col-xs-12 col-md-6" *ngFor='let recipe of cuisine.recipes'>           
        <div class="card mt-2 text-left bg-light" >            
            <div class="card-body shadow">
                <h5 class="card-title"><strong>{{ recipe.name | titlecase }} ({{ recipe.meal }})</strong></h5>
                <h6 class="card-subtitle"><strong>Ingredients:</strong></h6>
                <p>{{ recipe.ingredients }}</p>
                <h6 class="card-subtitle"><strong>Steps:</strong></h6>
                <p>{{ recipe.steps }}</p>
                <a class="btn btn-info float-right" (click)="likeRecipe(recipe.name)">Like Recipe</a>
            </div>
        </div> 
    </div>
</div>

